.row-header{
    margin: 0px auto;
    padding: 0px auto;

}
.row-content {
    margin: 0px auto ;
    padding: 50px 0px 50px 0px;
    border-bottom:1px ridge ;
    min-height: 400px;

}

.footer{
    background-color: rgb(216, 207, 230);
    margin: 0px auto;
    padding: 20px 0px 20px 0px;

}

.jumbotron{
    padding: 70px 30px 70px 30px;
    margin: 0px auto;
    background-color: rgb(232, 134, 194);
    color: rgb(255, 255, 255);
    
}

address {
    font-size: 80%;
    margin: 0px;
    color: rgb(6, 0, 0);
}

body{
    padding: 50px 0px 0px 0px;
    z-index: 0;

}

.navbar-dark{
    background-color: rgb(20, 62, 189);
    
}